$color-h1: #1B1BB3;
$color-body: #033E6B;
$color-body2: #66A3D2;
$blue-light: #DBECF9;
$purple: #330570;
$gray: #EBEEF0;
$succes: #66D28F;
$wrong: #D95B5B;

a {
    color: inherit; /* Наследует цвет текста родительского элемента */
    text-decoration: none; /* Убирает подчеркивание */
  }

.dm-sans-bold-heading {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #1B1BB3;
}

header {
    hr {
        border-top: 3px solid $purple; /* Цвет и толщина линии */
        opacity: 100%;
    }
}

.navbar-brand {
    color: $color-h1 !important;
    font-size: 36px;
}
.nav-link {
    color: $color-h1 !important;
    font-size: 18px;
    .active {
    color: $color-h1 !important;
    }
}

.my-5 {
    margin-top: 5rem !important;
}

p {
    color: $color-body;
    font-size: 18px;
}

.card {
    border-radius: 5%;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03); /* Применяем масштабирование к .card */
    cursor: pointer;
}

.card-link {
    text-decoration: none;
    display: block;
    /* Убрали transition и transform из card-link */
}
  
.card-title {
    color: $color-body;
}

.button {
    height: 60px;
    background-color: $color-body2;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    vertical-align: middle;
    align-items: center; /* Выравнивание по вертикали */
    font-size: 18px;
    cursor: pointer;
    margin-right: 30px;
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    .material-symbols-outlined {
        margin-right: 15px; /* Отступ между стрелкой и текстом */
        margin-left: -10px;
        color: $color-h1;
        width: 30px;
        font-size: 40px;
    }
}

.button-details {
    background-color: #ffffff;
    color: $color-body;
    border: 1px solid $color-body;
    font-weight: 300;
    svg {
        margin-right: 5px; /* Отступ между иконкой и текстом */
        vertical-align: middle; /* Вертикальное выравнивание */
        color: $color-h1;
    }
}



/* Start doing 2nd page (themes) */

.wrap {
    display: flex;
    flex-direction: column; /* Элементы будут расположены вертикально */
}

.topics {
    list-style: none;
    margin-top: 20px; /* Или используйте margin для отступов между элементами*/
    margin-bottom: 20px;

    li {
        line-height: 3.5;

        svg {
            padding-right: 5px;
        }
    }
}


/*Test page*/


.container-test {
    background-color: $blue-light;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
}
.question {
  font-weight: bold;
  font-size: 25px;
  color: $color-h1;
  margin-bottom: 10px;
}

.options {
  font-weight: bold;
  font-size: 20px;
  color: $color-body;
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 25px;
  color: $color-body;

  p {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
  }
}

.hide{
  display: none;
}

.quiz-image {
    max-width: 100%; /* Чтобы изображение не выходило за границы контейнера */
    height: auto;
    margin-bottom: 10px; /* Отступ снизу */
    display: block; /* Чтобы изображение занимало всю ширину */
    margin: 0 auto; /* Центрирование по горизонтали */
    padding-bottom: 30px;
}

.question-container {
    padding-bottom: 20px;
}

.question-header {
    font-weight: bold;
    font-size: 30px;
    color: $color-h1;
}

  #ticket-display {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Настраиваемый отступ снизу */
}

.ticket-square {
    width: 30px;
    height: 30px;
    margin: 0 5px; /* Отступ между квадратами */
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $purple;
    border-radius: 5px;
}

.timer_n_ticket {
    display: flex; /* Enables flexbox layout */

    > div {
        margin-right: 30px;
    }

    #timer {
        padding-top: 3px;
        font-size: 18px;
        margin-left: 10px;
    }
}

.ticket-square.correct {
    background-color: $succes; /* Зелёный фон для правильных ответов */
}

.ticket-square.incorrect {
    background-color: $wrong; /* Красный фон для неправильных ответов */
}

.ticket-square.solved {
    background-color: $color-body2; /* Светло-голубой фон для решенных билетов */
}

.test-success {
    color:$succes; /* Зеленый текст для сообщения об успешном прохождении теста */
}
  
.test-incorrect {
    color: $wrong; /* Красный текст для сообщения о не успешном прохождении теста */
}

.incorrect-answer {
    margin-bottom: 20px; /* Добавим отступ между ответами */
    border-bottom: 1px solid #ccc; /* Добавим разделитель */
    padding-bottom: 10px;
}
  
.incorrect-image {
    max-width: 90%; /* Или другое значение по вашему желанию */
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto; /* Центрирование изображения */
}

.additional-tickets {
    margin-top: 10px; /* Добавление отступа сверху для разделения */
    display: flex;
    flex-wrap: wrap;
}

.additional-ticket {
    /* Стиль для дополнительных квадратиков */
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    cursor: default; /* Убираем курсор руки, так как они не кликабельны */
}

.additional-ticket.correct {
    background-color: $succes;
}

.additional-ticket.incorrect {
    background-color: $wrong;
}

.test-success {
    display: inline-flex; /* Или display: flex; если хотите больше контроля */
    align-items: center; /* Выравнивает элементы по вертикали */
    
    svg {
        margin-left: 10px;
    }
}

.test-incorrect {
    display: inline-flex; /* Или display: flex; если хотите больше контроля */
    align-items: center; /* Выравнивает элементы по вертикали */
    
    svg {
        margin-left: 10px;
    }
}